body{
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(242, 238, 234);
    
}


.header{
    box-sizing: border-box;
    color: #453610;
    background: rgba(249, 199, 73, 0.782);
    padding-top: 20px;
    /* padding-bottom: 10px;  */
    text-align: center;
    padding-bottom: 20px;
    
    
   
}



.Menu{
    
    color: #0a0202;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(251, 224, 174, 0.673);
    padding: 0px;
    text-decoration: none;
    float: none;
    
}
.Menu a{
    color: #000;
    text-decoration: none;
    box-sizing: border-box;
    float: left;
    text-align: center;
    width: 20%;
    padding: 15px 0;
    font-size: 18px;
    
}
   


.เมนูหมวดหมู่{
    color: #5e4614;
    box-sizing: border-box;
    padding: 15px;
    width: 20%;
    float: left;
    min-height: 800px;
    background-color: rgb(255, 245, 225);
   
}
.เมนูหมวดหมู่ a{
    color: rgb(144, 110, 26);
    text-decoration: none;
    
}



.เนื้อหา{
    box-sizing: border-box;
    background-color: rgb(255, 254, 252);
    width: 80%;
    float: left;
    padding: 10px 0;
    min-height: 800px;

}
.เนื้อหา img{
    height: auto;
    width: 100%;
}

.footer{
    box-sizing: border-box;
    clear: both;
    background-color: rgba(228, 207, 151, 0.752);;
    padding: 3%;
    min-height: 10%;
    font-size: 18px;


    
}
.footer a{
    text-decoration: none;
    color: rgb(160, 86, 58);
}


.สินค้าแนะนำ{
    text-align: left;
    margin: 15px;
}


.สินค้า{
    box-sizing: border-box;
    max-width: 100%;
    border: 1.5px solid gold;
    width: 31%;
    float: left;
    margin: 1%;
    padding: 10px;
    text-align: center;
    height: 600px;
    
    
}


.สินค้า img{
    height: 300px;
}

.สินค้า button{
    background-color: rgb(254, 254, 251);
    color: rgb(144, 134, 31);
    border: 1.5px solid rgb(175, 137, 41);
    border-radius: 15px;
    width: 80%;
    padding: 8px 0;
    margin-top: 10px;
}






